<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/signin.css">
</head>
<body>
  <h1>Take a picture and see if you match in the database</h1>
  <form id="signUpForm">
      <button type="submit">Sign In</button>
  </form>
  <video id="cameraPreview" autoplay></video>
  <button id="shot">Take Shot</button>
  <div id="faceOverlay"></div>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <script src="../static/signin.js"></script>
</body>
</html>